*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
}
.App{
    overflow: hidden;
    display: none;
    position: relative;
    scrollbar-color: black;
}
.hidden{
    display: none;
}
.show{
    display: block;
}